<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">List Task</a></li>
        <li><a href="/add">Add Task</a></li>
        <li><a href="/update">Update Task</a></li>
      </ul>
    </nav>
    <hr />
  </body>
</html>
