<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
</head>

<body>
    <form method="POST" action="/addstudent">
        <input name="name" placeholder="Enter Student Name" />
        <br>
        <br>
        <input name="age" placeholder="Enter Student Age" />
        <br>
        <br>
        <input name="email" placeholder="Enter Student Email" />
        <br>
        <br>
        <button type="submit">Add New Student</button>
    </form>
</body>

</html>