<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
</head>

<body>
    <form method="POST" action="/ui/update/<%=result._id%>">
        <input name="name" value="<%= result.name %>" placeholder="Enter Student Name" />
        <br>
        <br>
        <input name="age" value="<%= result.age %>" placeholder="Enter Student Age" />
        <br>
        <br>
        <input name="email" value="<%= result.email %>" placeholder="Enter Student Email" />
        <br>
        <br>
        <button type="submit">Update Student</button>
    </form>
</body>

</html>